@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap');


@import url(start_block.css);
@import url(content_index.css);
@import url(portfolio.css);
@import url(feedback.css);

:root {
    --white: white;
    --red: red;
    --gray: rgb(128, 128, 128);
    --bg: #000;
    --br: 8px;

    --header-z: 90;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-family: sans-serif;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--white);
}
button {
    border: 1px solid rgba(0,0,0,0);
    background: var(--red);
    color: var(--white);
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 1.6rem;
}
button:hover {
    cursor: pointer;
    border: 1px solid var(--red);
    background: rgba(0,0,0,0);
    color: var(--red);
}
a {
    text-decoration: none;
}
h4 {
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 50px;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    backdrop-filter: blur(12px);
    padding: 0px 50px;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.1);
    z-index: var(--header-z);
}
header .logo {
    position: fixed;
    left: 50px;
}
header .logo:hover {
    transform: rotateZ(90deg);
}
header .logo img {
    height: 35px;
    /* filter: invert(100); */
}
header menu {
    position: relative;
}
header menu a {
    color: var(--white);
    margin-right: 7px;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0);
    padding: 3px 9px;
}
header menu a.active,
header menu a:hover {
    color: var(--white);
    background: var(--red);
}
.menu-icon {
    position: fixed;
    display: none;
}
.menu-icon img {
    width: 50px;
    height: 25px;
}
.menu-icon:hover {
    cursor: pointer;
    transform: scaleX(1.4);
}
.rombs-container {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.romb {
    width: 7px;
    height: 7px;
    background: var(--red);
    transform: rotateZ(45deg);
    margin: 0px 15px;
    border: 1px solid rgba(0,0,0,0);
}
.romb:hover {
    width: 25px;
    height: 25px;
    border-color: var(--white);
    background: rgba(0,0,0,0);
    cursor: pointer;
    transform: rotateZ(225deg);
}
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 120px;
    backdrop-filter: blur(12px);
    padding: 3px 50px;
    padding-top: 40px;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.3);
}
footer .copyright a {
    color: var(--gray);
    font-size: 0.8rem;
    text-transform: uppercase;
}
.mini-message {
    position: fixed;
    top: 30vh;
    width: 90vw;
    left: 5vw;
    padding: 5px 20px;
    font-size: 1.3rem;
    z-index: 9999;
    background: var(--red);
    color: var(--white);
}

@media (max-width: 1199px) {
    .menu-icon {
        display: block;
        left: 75vw;
    }
    footer .copyright a {
        font-size: 0.6rem;
    }
    header menu a {
        color: var(--white);
    }
}