:root {
    --white: white;
    --red: red;
    --gray: rgb(128, 128, 128);
    --bg: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-family: sans-serif;
  font-family: 'Bad Script', cursive !important;
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--white);
}
header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    backdrop-filter: blur(12px);
    padding: 0px 50px;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.3);
}
header .logo img {
    height: 35px;
    filter: invert(100);
}
header menu a {
    color: var(--white);
    text-decoration: none;
    margin-right: 7px;
}
.menu-icon img {
    width: 50px;
    height: 25px;
}
.menu-icon:hover {
    cursor: pointer;
    transform: scaleX(1.4);
}


footer .copyright a {
    color: var(--gray);
    font-size: 0.8rem;
    text-transform: uppercase;
}